<include file="Common/head" />

<div id="wrapper" class="home-page">

    <include file="Common/header" />


    <!-- TO Write-->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">{$aArticle.ar_title}</h2>
                </div>
            </div>
        </div>
    </section>


    <section id="content">
        <section class="section-padding">
            <div class="container">
                <div class="row showcase-section">
                    <div class="col-md-6">
                        <img src="{$aArticle.ar_pic}" alt="showcase image" width="500" height="300">
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            {$aArticle.ar_content}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <include file="Common/footer" />

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

<include file="Common/foot" />