<include file="Common/head" />


<!-- BEGIN SECTION -->
<section id="container">
    <include file="Common/header" />
    <include file="Common/nav" />

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER  -->
        <section class="wrapper">


            <!-- BEGIN ROW  -->
            <div class="row">
                <div class="col-lg-8">
                    <section class="panel">
                        <div class="panel-body">
                            <a href="#" class="task-thumb">
                                <img src="img/avatar1.jpg" alt="">
                            </a>
                            <div class="task-thumb-details">
                                <h1>
                                    <a href="#">
                                        Work Progress
                                    </a>
                                </h1>
                                <p>
                                    Pruthvi Bardolia
                                </p>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Target Revenue
                                </td>
                                <td>
                        <span class="badge bg-important">
                          75%
                        </span>
                                </td>
                                <td>
                                    <div id="work-progress1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Project Larsen
                                </td>
                                <td>
                        <span class="badge bg-success">
                          43%
                        </span>
                                </td>
                                <td>
                                    <div id="work-progress2">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Project Nowbie
                                </td>
                                <td>
                        <span class="badge bg-info">
                          67%
                        </span>
                                </td>
                                <td>
                                    <div id="work-progress3">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    Total Sales
                                </td>
                                <td>
                        <span class="badge bg-warning">
                          30%
                        </span>
                                </td>
                                <td>
                                    <div id="work-progress4">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <td>
                                    Delivery Pending
                                </td>
                                <td>
                        <span class="badge bg-primary">
                          15%
                        </span>
                                </td>
                                <td>
                                    <div id="work-progress5">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel post-wrap pro-box">
                        <aside>
                            <div class="post-info">
                                <div class="panel-body">
                                    <footer class="social-footer">
                                        <ul>
                                            <li class="active">
                                                <a href="#">
                                                    <i class="fa fa-twitter">
                                                    </i>
                                                </a>
                                            </li>
                                        </ul>
                                    </footer>
                                    <!-- END  FOOTER -->
                                    <div class="text-center twite">
                                        <h1>
                                            We just Launch a New Theme Check it Out at
                                            <a href="javascript:;">
                                                http://olivethemes.in/
                                            </a>
                                        </h1>
                                        <p >
                                            4 Days ago
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </section>
                </div>
            </div>
            <!-- END ROW  -->

        </section>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

    <include file="Common/footee" />
</section>

<include file="Common/footer" />

<include file="Common/foot" />



