<include file="Common/head" />


<!-- BEGIN SECTION -->
<section id="container">
    <include file="Common/header" />
    <include file="Common/nav" />

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
            <!-- BEGIN ROW  -->

            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">
                        <a class="btn btn-success" data-toggle="modal" href="#addTopicCate">
                            添加话题类别
                        </a>
                    </div>
                </section>

                <section class="panel">
                    <header class="panel-heading">
                        <span class="label label-primary">话题类别</span>
                           <span class="tools pull-right">
                           <a href="javascript:;" class="fa fa-chevron-down"></a>
                           <a href="javascript:;" class="fa fa-times"></a>
                           </span>
                    </header>
                    <table id="tcate" class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>中文名称</th>
                            <th>英文名称</th>
                            <th>缩略图</th>
                            <td>基本操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="tcates" id="ele">
                            <tr>
                                <td>{$ele.cid}</td>
                                <td>{$ele.name}</td>
                                <td>{$ele.ename}</td>
                                <td>
                                    <if condition="$ele['pic50'] neq ''">
                                        <img src="{$ele.pic50}" width="50" height="50">
                                    </if>
                                </td>
                                <td>
                                    <a cid="{$ele.cid}" onclick="getCategory(this)" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a cid="{$ele.cid}" onclick="delCategory(this)" class="btn btn-primary btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </section>

            </div>

            <!-- END ROW  -->
        </section>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

    <include file="Common/footee" />
</section>

<include file="Common/footer" />

<div class="modal fade" id="addTopicCate"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加话题分类</h4>
            </div>
            <form id="addTopicCateForm" class="form-horizontal" role="form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cname" class="col-lg-2 col-sm-2 control-label">名称</label>
                        <div class="col-lg-10">
                            <input name="name" type="text" class="form-control" id="cname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cename" class="col-lg-2 col-sm-2 control-label">英文名称</label>
                        <div class="col-lg-10">
                            <input name="ename" type="text" class="form-control" id="cename">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cdesc" class="col-lg-2 col-sm-2 control-label">描述</label>
                        <div class="col-lg-10">
                            <input name="desc" type="text" class="form-control" id="cdesc">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="panel-body">
                            <div class="form-group last">
                                <div class="col-md-4">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" >
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" ></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i>选择图片</span>
                                                    <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                    <input name="pic" type="file" class="default">
                                                </span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                                                <i class="fa fa-trash"></i>移除
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"type="button" onclick="addCate()">提交话题</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editTopicCate"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑话题分类</h4>
            </div>
            <form id="editTopicCateForm" class="form-horizontal" role="form" method="post">
                <input hidden="yes" id="e_cid" name="cid">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="e_name" class="col-lg-2 col-sm-2 control-label">名称</label>
                        <div class="col-lg-10">
                            <input name="name" type="text" class="form-control" id="e_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="e_ename" class="col-lg-2 col-sm-2 control-label">英文名称</label>
                        <div class="col-lg-10">
                            <input name="ename" type="text" class="form-control" id="e_ename">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="e_desc" class="col-lg-2 col-sm-2 control-label">描述</label>
                        <div class="col-lg-10">
                            <input name="desc" type="text" class="form-control" id="e_desc">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="panel-body">
                            <div class="form-group last">
                                <div class="col-md-4">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" >
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" ></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i>选择图片</span>
                                                    <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                    <input name="pic" type="file" class="default">
                                                </span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                                                <i class="fa fa-trash"></i>移除
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success"type="button" onclick="updateCategory()">提交话题</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" language="JavaScript">
    var addCategoryURL = "__CONTROLLER__/addCategory";
    function addCate(){
        $("#addTopicCateForm").ajaxSubmit({
            type:'post',
            url: addCategoryURL,
            beforeSubmit: function(){
                $("#addTopicCate").modal("hide");
                myAlert.setMsg("数据上传中...");
                myAlert.show();
            },
            success: function(data){
                var res = zsy_json_decode(data);
                if(res['rs'] == 1){ // 成功
                    // TODO 插入新数据


                }else{              // 失败
                    console.log("失败");
                }
                myAlert.setMsg(res['msg']);
            },
            resetForm: false,
            clearForm: false
        });
    }

    var getCategoryURL = "__CONTROLLER__/getCategory";
    function getCategory(a){
        $.post(getCategoryURL,{"cid":$(a).attr("cid")},function(data){
            var json = zsy_json_decode(data);
            $("#editTopicCate #e_cid").val(json['cid']);
            $("#editTopicCate #e_name").val(json['name']);
            $("#editTopicCate #e_ename").val(json['ename']);
            $("#editTopicCate #e_desc").val(json['description']);

            if(json['pic'].length>0){
                $("#editTopicCate img").attr("src",json['pic']);
            }else{
                $("#editTopicCate img").attr("src","http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image");
            }

            $("#editTopicCate").modal("show");
        });
    }

    var updateCategoryURL = "__CONTROLLER__/updateCategory";
    function updateCategory(){
        $("#editTopicCateForm").ajaxSubmit({
            type:'post',
            url: updateCategoryURL,
            beforeSubmit: function(){
                $("#editTopicCate").modal("hide");
                myAlert.setMsg("数据更新中...");
                myAlert.show();
            },
            success: function(data){
                var res = zsy_json_decode(data);
                if(res['rs'] == 1){ // 成功
                    // TODO 更新新数据


                }else{              // 失败
                    console.log("失败");
                }
                myAlert.setMsg(res['msg']);
            },
            resetForm: false,
            clearForm: false
        });
    }

    var delCategoryURL = "__CONTROLLER__/delCategory";
    function delCategory(a){
        $.post(delCategoryURL,{"cid":$(a).attr("cid")},function(data){
            var json = zsy_json_decode(data);
            if(json['rs'] == 1){
                $(a).parent().parent().remove();
            }else{

            }
            myAlert.setMsg(json['msg']);
            myAlert.show();
        });
    }

</script>




<include file="Common/foot" />