<include file="Common/head" />


<!-- BEGIN SECTION -->
<section id="container">
    <include file="Common/header" />
    <include file="Common/nav" />

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
            <!-- BEGIN ROW  -->
            <div class="row">

                <div class="col-lg-12">

                    <section class="panel">
                        <div class="panel-body">
                            <a class="btn btn-success" data-toggle="modal" href="#addArticle">
                                添加文章
                            </a>
                        </div>
                    </section>

                    <form id="form" action="__CONTROLLER__/deleteArcM" method="post">
                        <section class="panel">

                            <header class="panel-heading">
                                <span class="label label-primary">文章列表</span>
                           <span class="tools pull-right">
                           <input type="submit" name="sub" value="批量删除">
                           </span>
                            </header>


                            <table class="table table-striped table-advance table-hover">

                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" onclick="selAll()"></th>
                                    <td>文章ID</td>
                                    <td>文章标题</td>
                                    <td>文章图片</td>
                                    <td>所属栏目</td>
                                    <td>推荐</td>
                                    <td>创建时间</td>
                                    <td>基本操作</td>
                                </tr>
                                </thead>

                                <tbody>

                                <volist  name="list" id="ele">
                                    <tr>
                                        <td><input type="checkbox" class="check" name="dels[]" value="{$ele.ar_id}"></td>
                                        <td>
                                            <input style="width: 50px" class="form-control small" oldval="{$ele.ar_id}" value="{$ele.ar_id}" type="text" onchange="updateID.chgID(this,'__CONTROLLER__/chgArticleID')">
                                        </td>
                                        <td class="hidden-phone">{$ele.ar_title}</td>
                                        <td>
                                            <if condition="$ele['ar_pic'] neq ''">
                                                <img src="{$ele.ar_pic}" width="30" height="30">
                                                <else />
                                                <span class="label label-info label-mini">NO Pic</span>
                                            </if>
                                            <if condition="$ele['ar_icon'] neq 0">
                                                <i class="icon-info-blocks fa {$ele.ari_cname}"></i>
                                                <else />

                                            </if>
                                        </td>
                                        <td>{$ele.cate_name}</td>
                                        <td>
                                            <if condition="$ele['ar_rem'] eq 1">
                                                是
                                                <else />
                                                否
                                            </if>
                                        </td>
                                        <td>{$ele.ar_time}</td>

                                        <td>
                                            <a aid="{$ele.ar_id}" onclick="getArticle(this)" class="btn btn-success btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a aid="{$ele.ar_id}" onclick="delArticle(this)" class="btn btn-primary btn-xs">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>




                                </tbody>


                            </table>

                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="dataTables_info" id="example_info"></div>
                                </div>
                                <div class="span6">
                                    {$show}
                                </div>
                            </div>

                        </section>
                    </form>



                </div>

            </div>
            <!-- END ROW  -->
        </section>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

    <include file="Common/footee" />
</section>

<include file="Common/footer" />

<script type="text/javascript" language="JavaScript">
    function selAll(){
        var forms = document.getElementsByTagName("form");
        var form = forms[0];
        var cks = form.getElementsByTagName("input");
        for(var i=0;i<cks.length;i++){
            cks[i].check();
        }
    }
</script>

<div class="modal fade" id="addArticle"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加文章</h4>
            </div>

                <div class="modal-body">

                    <form id="addArticleForm" role="form" action="" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="ar_title" class="control-label">文章名称</label>
                            <input type="text" class="form-control" id="ar_title" name="ar_title">
                        </div>

                        <div class="form-group">
                            <label for="ar_author" class="control-label">文章作者</label>
                            <input type="text" class="form-control" id="ar_author" name="ar_author">
                        </div>

                        <div class="form-group">
                            <label class="control-label">是否推荐</label>
                            <div>
                                <input type="radio" name="ar_rem" value="1">           <span>推荐</span>
                                <input type="radio" name="ar_rem" value="0" checked>           <span>不推荐</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ar_keywords" class="control-label">关键字</label>
                            <div>
                                <input id="ar_keywords" class="form-control" type="text" name="ar_keywords">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ar_desc" class="control-label">文章描述</label>
                            <div>
                                <input id="ar_desc" class="form-control" type="text" name="ar_desc">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" >所属栏目</label>
                            <div>
                                <select class="form-control m-bot15" name="ar_cateid">
                                    <option value="0">请选择</option>
                                    <volist name="cates" id="ele">
                                        <option value="{$ele['cate_id']}">{$ele['pre']}{$ele['cate_name']}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ar_icon">图标</label>
                            <select name="ar_icon" id="ar_icon">
                                <option value="0">请选择</option>
                                <volist name="arIcons" id="ele">
                                    <option value="{$ele.ari_id}">{$ele.ari_name}</option>
                                </volist>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">图片</label>
                            <div class="panel-body">
                                <div class="form-group last">
                                    <div class="col-md-4">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail" >
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail" ></div>
                                            <div>
                                            <span class="btn btn-white btn-file">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i>选择图片</span>
                                                    <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                    <input name="ar_pic" type="file" class="default">
                                                </span>
                                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                                                    <i class="fa fa-trash"></i>移除
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content">文章内容</label>
                            <textarea id="content" name="ar_content"></textarea>
                        </div>

                    </form>
                </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-info" onclick="addArticle()">提交</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editArticle"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加文章</h4>
            </div>

            <div class="modal-body">

                <form id="editArticleForm" role="form" action="" method="post" enctype="multipart/form-data">
                    <input id="e_ar_id" type="text" name="ar_id" hidden="yes"/>

                    <div class="form-group">
                        <label for="e_ar_title" class="control-label">文章名称</label>
                        <input type="text" class="form-control" id="e_ar_title" name="ar_title" value="{$article.ar_title}">
                    </div>

                    <div class="form-group">
                        <label for="e_ar_author" class="control-label">文章作者</label>
                        <input type="text" class="form-control" id="e_ar_author" name="ar_author" value="{$article.ar_author}">
                    </div>

                    <div class="form-group">
                        <label class="control-label">是否推荐</label>
                        <div id="e_ar_rem">
                            <input type="radio" name="ar_rem" value="1">           <span>推荐</span>
                            <input type="radio" name="ar_rem" value="0">           <span>不推荐</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="e_ar_keywords" class="control-label">关键字</label>
                        <div>
                            <input id="e_ar_keywords" class="form-control" type="text" name="ar_keywords" value="{$article.ar_keywords}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="e_ar_desc" class="control-label">文章描述</label>
                        <div>
                            <input id="e_ar_desc" class="form-control" type="text" name="ar_desc" value="{$article.ar_desc}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" >所属栏目</label>
                        <div>
                            <select id="e_ar_cateid" class="form-control m-bot15" name="ar_cateid">
                                <option value="0">请选择</option>
                                <volist name="cates" id="ele">
                                    <option value="{$ele['cate_id']}">{$ele['pre']}{$ele['cate_name']}</option>
                                </volist>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ar_icon">图标</label>
                        <select name="ar_icon" id="e_ar_icon">
                            <option value="0">请选择</option>
                            <volist name="arIcons" id="ele">
                                <option value="{$ele.ari_id}">{$ele.ari_name}</option>
                            </volist>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">图片</label>
                        <div class="panel-body">
                            <div class="form-group last">
                                <div class="col-md-4">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" >
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" ></div>
                                        <div>
                                            <span class="btn btn-white btn-file">
                                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i>选择图片</span>
                                                    <span class="fileupload-exists"><i class="fa fa-undo"></i>更改</span>
                                                    <input name="ar_pic" type="file" class="default">
                                                </span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                                                <i class="fa fa-trash"></i>移除
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="content">文章内容</label>
                        <textarea id="e_content" name="ar_content"></textarea>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-info" onclick="updateArticle()">提交</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" language="JavaScript">

    var ue = UE.getEditor('content',{
        initialFrameWidth:500,
        initialFrameHeight:200
    });

    function subform(){
        var sub = document.getElementById("sub");
        sub.click();
    }

</script>

<script type="text/javascript" language="JavaScript">
    var addArticleURL = "__CONTROLLER__/addArticle";
    function addArticle(){
        $("#addArticleForm").ajaxSubmit({
            type:'post',
            url: addArticleURL,
            beforeSubmit: function(){
                $("#addArticle").modal("hide");
                myAlert.setMsg("数据上传中...");
                myAlert.show();
            },
            success: function(data){
                var res = zsy_json_decode(data);
                if(res['rs'] == 1){ // 成功
                    // TODO 插入新数据


                }else{              // 失败
                    console.log("失败");
                }
                myAlert.setMsg(res['msg']);
            },
            resetForm: false,
            clearForm: false
        });
    }

    var getArticleURL = "__CONTROLLER__/getArticle";
    function getArticle(a){
        $.post(getArticleURL,{"aid":$(a).attr("aid")},function(data){
            var json = zsy_json_decode(data);
            $("#editArticle #e_ar_id").val(json['ar_id']);
            $("#editArticle #e_ar_title").val(json['ar_title']);
            $("#editArticle #e_ar_author").val(json['ar_author']);

            var remcomond = document.getElementById("e_ar_rem");
            var sels = remcomond.getElementsByTagName("input");
            for(var i=0;i < sels.length ; i++){
                var sel = sels[i];
                if($(sel).val() == json['ar_rem']){
                    $(sel).prop("checked",true);
                }
            }

            $("#editArticle #e_ar_keywords").val(json['ar_keywords']);
            $("#editArticle #e_ar_desc").val(json['ar_desc']);
            $("#editArticle #e_content").val(json['ar_content']);


            var select = document.getElementById("e_ar_cateid");
            var ops = select.getElementsByTagName("option");
            for(var i=0;i < ops.length ; i++){
                var op = ops[i];
                if($(op).val() == json['ar_cateid']){
                    $(op).prop("selected",true);
                }
            }

            var select2 = document.getElementById("e_ar_icon");
            var ops2 = select2.getElementsByTagName("option");
            for(var j=0;j < ops2.length ; j++){
                var op2 = ops2[i];
                if($(op2).val() == json['ari_id']){
                    $(op2).prop("selected",true);
                }
            }

            if(json['ar_pic'].length>0){
                $("#editArticle img").attr("src",json['ar_pic']);
            }else{
                $("#editArticle img").attr("src","http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image");
            }

            var ue2 = UE.getEditor('e_content',{
                initialFrameWidth:500,
                initialFrameHeight:200
            });

            $('#editArticle').modal();
        });
    }

    var updateArticleURL = "__CONTROLLER__/updateArticle";
    function updateArticle(){
        $("#editArticleForm").ajaxSubmit({
            type:'post',
            url: updateArticleURL,
            beforeSubmit: function(){
                $("#editArticle").modal("hide");
                myAlert.setMsg("数据更新中...");
                myAlert.show();
            },
            success: function(data){
                var res = zsy_json_decode(data);
                if(res['rs'] == 1){ // 成功
                    // TODO 更新新数据


                }else{              // 失败
                    console.log("失败");
                }
                myAlert.setMsg(res['msg']);
            },
            resetForm: false,
            clearForm: false
        });
    }

    var delArticleURL = "__CONTROLLER__/delArticle";
    function delArticle(){
        $.post(delArticleURL,{"aid":$(a).attr("aid")},function(data){
            var res = zsy_json_decode(data);
            if(res['rs'] == 1){
                $(a).parent().parent().remove();
            }else{

            }
            myAlert.setMsg(res['msg']);
            myAlert.show();
        });
    }

</script>

<include file="Common/foot" />