<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Olive Enterprise">
    <!-- END META -->

    <!-- BEGIN SHORTCUT ICON -->
    <link rel="shortcut icon" href="<?php echo ADMIN_PUB ?>/img/favicon.ico">
    <!-- END SHORTCUT ICON -->
    <title>
        Zsy Admin
    </title>
    <!-- BEGIN STYLESHEET-->
    <link href="<?php echo ADMIN_PUB ?>/css/bootstrap.min.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->
    <link href="<?php echo ADMIN_PUB ?>/css/bootstrap-reset.css" rel="stylesheet"><!-- BOOTSTRAP CSS -->

    <link href="<?php echo ADMIN_PUB ?>/css/style.css" rel="stylesheet"><!-- THEME BASIC CSS -->
    <link href="<?php echo ADMIN_PUB ?>/css/style-responsive.css" rel="stylesheet"><!-- THEME RESPONSIVE CSS -->
    <link href="<?php echo ADMIN_PUB ?>/assets/font-awesome/css/font-awesome.css" rel="stylesheet"><!-- FONT AWESOME ICON CSS -->
    <link rel="stylesheet" type="text/css" href="<?php echo ADMIN_PUB ?>/assets/bootstrap-fileupload/bootstrap-fileupload.css"><!-- BOOTSTRAP FILEUPLOAD PLUGIN CSS -->


    <!--[if lt IE 9]>
    <script src="<?php echo ADMIN_PUB ?>/js/html5shiv.js"></script>
    <script src="<?php echo ADMIN_PUB ?>/js/respond.min.js"></script>
    <![endif]-->
    <!-- END STYLESHEET-->

    <script src="<?php echo ADMIN_PUB?>/js/jquery-2.1.1.min.js" type="text/javascript" language="JavaScript"></script>

    <!-- 异步表单提交 -->
    <script src="<?php echo ADMIN_PUB?>/js/jquery-form.js" type="text/javascript" language="JavaScript"></script>

</head>
<body>
