<!-- BEGIN SIDEBAR -->
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">

            <!--首页管理-->
            <li >
                <a href="__MODULE__/Index/conf">
                    <i class="fa fa-laptop">
                    </i>
                <span>
                  首页管理
                </span>
                </a>
            </li>

            <!--横幅管理-->
            <li >
                <a href="__MODULE__/Banner/index">
                    <i class="fa fa-toggle-right">
                    </i>
                <span>
                  横幅管理
                </span>
                </a>
            </li>

            <!--视频管理-->
            <li >
                <a href="__MODULE__/Video/index">
                    <i class="fa fa-video-camera">
                    </i>
                <span>
                  视频管理
                </span>
                </a>
            </li>

            <!--文章管理-->
            <li class="sub-menu">
                <a href="javascript:;"><i class="fa fa-file"></i>
                    <span>文章管理</span>
                </a>
                <ul class="sub">
                    <li><a href="__MODULE__/Category/index">栏目管理</a></li>
                    <li><a href="__MODULE__/Article/index">文章列表</a></li>
                    <li><a href="__MODULE__/Article/iconlist">文章图标</a></li>
                    <!--<li><a href="__MODULE__/Article/add">添加文章</a></li>-->
                </ul>
            </li>

            <!--电影管理-->
            <li class="sub-menu">
                <a href="javascript:;"><i class="fa fa-video-camera"></i>
                    <span>电影管理</span>
                </a>
                <ul class="sub">
                    <li><a href="__MODULE__/Film/index">电影列表</a></li>
                    <li><a href="__MODULE__/Film/category">电影分类</a></li>
                </ul>
            </li>

            <!--管理员管理-->
            <li class="sub-menu">
                <a href="javascript:;"><i class="fa fa-user"></i>
                    <span>管理员管理</span>
                </a>
                <ul class="sub">
                    <li><a href="__MODULE__/Admin/index">管理员列表</a></li>
                    <li><a href="__MODULE__/Admin/add">添加管理员</a></li>
                </ul>
            </li>

            <!--用户管理-->
            <li class="sub-menu">
                <a href="javascript:;"><i class="fa fa-users"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li><a href="__MODULE__/User/index">用户列表</a></li>
                    <li><a href="__MODULE__/User/add">添加用户</a></li>
                    <li><a href="__MODULE__/Topic/index">话题管理</a></li>
                    <li><a href="__MODULE__/Topic/category">话题类别</a></li>
                </ul>
            </li>

            <!--网站配置-->
            <li class="sub-menu">
                <a href="javascript:;"><i class="fa fa-briefcase    "></i>
                    <span>网站配置</span>
                </a>
                <ul class="sub">
                    <li><a href="__MODULE__/Conf/index">配置项列表</a></li>
                    <!--<li><a href="__MODULE__/Conf/add">配置项添加</a></li>-->
                    <li><a href="__MODULE__/Conf/webinfo">网站配置</a></li>
                    <li><a href="__MODULE__/Conf/integral">积分配置</a></li>
                    <li><a href="__MODULE__/Link/index">友情链接</a></li>
                    <li><a href="__MODULE__/Link/add">添加链接</a></li>

                </ul>
            </li>


        </ul>
    </div>
</aside>
<!-- END SIDEBAR -->