<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="<?php echo HOME_PUB?>/js/jquery.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.easing.1.3.js"></script>
<script src="<?php echo HOME_PUB?>/js/bootstrap.min.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.fancybox.pack.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.fancybox-media.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.flexslider.js"></script>
<script src="<?php echo HOME_PUB?>/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="<?php echo HOME_PUB?>/js/modernizr.custom.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.isotope.min.js"></script>
<script src="<?php echo HOME_PUB?>/js/jquery.magnific-popup.min.js"></script>
<script src="<?php echo HOME_PUB?>/js/animate.js"></script>
<script src="<?php echo HOME_PUB?>/js/custom.js"></script>
<script src="<?php echo HOME_PUB?>/js/owl-carousel/owl.carousel.js"></script>
</body>
</html>
