<include file="Common/head" />

<!-- BEGIN 异步上传文件 -->
<link href="__PUBLIC__/uploadify/uploadify.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/uploadify/jquery.uploadify.min.js" type="text/javascript" language="JavaScript"></script>
<!-- END 异步上传文件 -->

<!-- BEGIN 视频播放 -->
<script src="__PUBLIC__/flowplayer/flowplayer-3.2.13.min.js" type="text/javascript" language="JavaScript"></script>
<!-- END 视频播放 -->

<!-- BEGIN SECTION -->
<section id="container">
    <include file="Common/header" />
    <include file="Common/nav" />

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <!-- BEGIN WRAPPER  -->
        <section class="wrapper">
            <!-- BEGIN ROW  -->

            <div class="row">

                <div class="col-lg-12">
                    <!-- 添加视频 -->
                    <section class="panel">
                        <div class="panel-body">
                            <a class="btn btn-success" data-toggle="modal" href="#addVideo">
                                添加视频
                            </a>
                        </div>
                    </section>

                    <!-- 视频列表 -->
                    <form id="form" action="__CONTROLLER__/deleteConfM" method="post">
                        <section class="panel">

                            <header class="panel-heading">
                                <span class="label label-primary">视频列表</span>
                           <span class="tools pull-right">
                           <input type="submit" name="sub" value="批量删除">
                           </span>
                            </header>


                            <table class="table table-striped table-advance table-hover">

                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" onclick="selAll()"></th>
                                    <td>ID</td>
                                    <td>名称</td>
                                    <td>英文名称</td>
                                    <td>类型</td>
                                    <td>大小</td>
                                    <td>基本操作</td>
                                </tr>
                                </thead>

                                <tbody>

                                <volist  name="videos" id="ele">
                                    <tr>
                                        <td><input type="checkbox" class="check" name="dels[]" value="{$ele.vid}"></td>
                                        <td>
                                            <input style="width: 50px" class="form-control small" oldval="{$ele.vid}" value="{$ele.vid}" type="text" onchange="chgID(this)">
                                        </td>
                                        <td class="hidden-phone">{$ele.name}</td>
                                        <td>{$ele.ename}</td>
                                        <td>{$ele.type}</td>
                                        <td><?php echo intval($ele['size']/1024/1024); ?>M</td>
                                        <td>
                                            <a vid="{$ele.vid}" class="btn btn-success btn-xs" onclick="playVideo(this)">
                                                <i class="fa fa-play-circle"></i>
                                            </a>
                                            <a vid="{$ele.vid}" class="btn btn-success btn-xs" onclick="getVideo(this)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a vid="{$ele.vid}" class="btn btn-primary btn-xs" onclick="delVideo(this)">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>




                                </tbody>


                            </table>

                        </section>
                    </form>

                </div>

            </div>

            <!-- END ROW  -->
        </section>
        <!-- END WRAPPER  -->
    </section>
    <!-- END MAIN CONTENT -->

    <include file="Common/footee" />
</section>

<include file="Common/footer" />

<script type="text/javascript" language="JavaScript">
    function selAll(){
        var forms = document.getElementsByTagName("form");
        var form = forms[0];
        var cks = form.getElementsByTagName("input");
        for(var i=0;i<cks.length;i++){
            cks[i].check();
        }
    }

    var chgidURL = "__CONTROLLER__/chgVideoID";
    function chgID(chgInput){
        var oldval = chgInput.getAttribute("oldval");
        var val = chgInput.value;

        $.post(chgidURL,{"oldid":oldval,"newid":val},function(data){
            //console.log(data);
            chgInput.setAttribute("oldval",val);
            myAlert.setMsg(data['msg']);
            myAlert.show();
        });

    }

</script>

<div class="modal fade" id="addVideo"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加视频</h4>
            </div>

                <div class="modal-body">

                    <form id="addVideoForm" action="#" role="form" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="v_name" class="control-label">名称</label>
                            <input type="text" class="form-control" id="v_name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="v_ename">英文名称</label>
                            <input type="text" class="form-control" id="v_ename" name="ename"/>
                        </div>
                    </form>

                    <div class="form-group">
                        <input id="videoupload" type="file" name="video">
                    </div>

                </div>

        </div>
    </div>
</div>

<div class="modal fade" id="editVideo"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">添加视频</h4>
            </div>

                <div class="modal-body">
                    <form id="updateVideoForm" action="#" role="form" method="post" enctype="multipart/form-data">
                        <input id="e_v_vid" name="vid" class="hidden">
                        <div class="form-group">
                            <label for="e_v_name" class="control-label">名称</label>
                            <input type="text" class="form-control" id="e_v_name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="e_v_ename">英文名称</label>
                            <input type="text" class="form-control" id="e_v_ename" name="ename"/>
                        </div>
                    </form>

                    <div class="form-group">
                        <input id="videoupdate" type="file" name="video">

                    </div>

                </div>

        </div>
    </div>
</div>

<div class="modal fade" id="playVideo"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">视频预览</h4>
            </div>

            <div class="modal-body">
                <a href="demo.flv" style="display:block;width:520px;height:330px" id="player"></a>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" language="JavaScript">

    var uploadVideoUrl = "__CONTROLLER__/uploadVideo";
    $(document).ready(function(){
        console.log("document ready");
        $('#videoupload').uploadify({
            swf         : '__PUBLIC__/uploadify/uploadify.swf',
            method      : "post",
            uploader    : uploadVideoUrl,
            buttonText  : "上传视频",
            formData    : {"SESSION_ID":'<?php echo session_id(); ?>'},
            onUploadSuccess:function(e,data){
                eval("var data = "+data);
                if(data.rs){
                    addVideo($("#v_name").val(),$("#v_ename").val(),data.info);

                }else{

                }
                myAlert.setMsg(data['msg']);
                myAlert.show();

            }

        });

        $('#videoupdate').uploadify({
            swf         : '__PUBLIC__/uploadify/uploadify.swf',
            method      : "post",
            uploader    : uploadVideoUrl,
            buttonText  : "上传视频",
            formData    : {"SESSION_ID":'<?php echo session_id(); ?>'},
            onUploadSuccess:function(e,data){
                eval("var data = "+data);
                if(data.rs){
                    updateVideo($("#e_v_vid").val(),$("#e_v_name").val(),$("#e_v_ename").val(),data.info);

                }else{

                }
                myAlert.setMsg(data['msg']);
                myAlert.show();

            }

        });
    });

    var addVideoUrl = "__CONTROLLER__/addVideo";
    function addVideo(name,ename,info){
        $.post(addVideoUrl,{"name":name,"ename":ename,"info":info},function(res){
            $("#addVideo").modal("hide");
            var json = zsy_json_decode(res);
            if(json['rs'] == 1){ // 上传成功
                // TODO 插入新数据
                var aVideo = json["info"];

                var tables = document.getElementsByTagName("table");
                var tbodys = tables[0].getElementsByTagName("tbody");
                var tbody = tbodys[0];

                var tr = document.createElement("tr");
                var td1 = document.createElement("td");
                td1.innerHTML = "<input type=\"checkbox\" class=\"check\" name=\"dels[]\" value=\""+aVideo.vid+"\">";
                var td2 = document.createElement("td");
                td2.innerHTML = "<input style=\"width: 50px\" class=\"form-control small\" oldval=\""+aVideo.vid+"\" value=\""+aVideo.vid+"\" type=\"text\" onchange=\"chgID(this)\">";
                var td3 = document.createElement("td");
                td3.innerHTML = aVideo.name;
                var td4 = document.createElement("td");
                td4.innerHTML = aVideo.ename;
                var td5 = document.createElement("td");
                td5.innerHTML = aVideo.type;
                var td6 = document.createElement("td");
                td6.innerHTML = parseInt(aVideo.size/1024/1024)+"M";

                var td7 = document.createElement("td");
                td7.innerHTML = "<a vid=\""+aVideo.vid+"\" class=\"btn btn-success btn-xs\" onclick=\"playVideo(this)\"> <i class=\"fa fa-play-circle\"></i> </a><a vid=\""+aVideo.vid+"\" class=\"btn btn-success btn-xs\" onclick=\"getVideo(this)\"> <i class=\"fa fa-edit\"></i> </a> <a vid=\""+aVideo.vid+"\" class=\"btn btn-primary btn-xs\" onclick=\"delVideo(this)\"> <i class=\"fa fa-trash-o\"></i> </a>";

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                tr.appendChild(td4);
                tr.appendChild(td5);
                tr.appendChild(td6);
                tr.appendChild(td7);

                tbody.appendChild(tr);

            }else{              // 上传失败
                console.log("失败");
            }
            myAlert.setMsg(json['msg']);
            myAlert.show();
        });

    }

    var videoUrl = "__CONTROLLER__/video";
    function getVideo(a){
        $.post(videoUrl,{"vid":$(a).attr("vid")},function(data){
            var json = zsy_json_decode(data);
            $("#editVideo #e_v_vid").val(json['vid']);
            $("#editVideo #e_v_name").val(json['name']);
            $("#editVideo #e_v_ename").val(json['ename']);
            if(json['path'].length>0){
                $("#editVideo #e_v_vedio").val(json['path']);
            }
            $('#editVideo').modal();
        });




    }

    var updateVideoUrl = "__CONTROLLER__/updateVideo";
    function updateVideo(vid,name,ename,info){
        $.post(updateVideoUrl,{"vid":vid,"name":name,"ename":ename,"info":info},function(res){
            $("#editVideo").modal("hide");
            var json = zsy_json_decode(res);
            if(json['rs'] == 1){ // 修改成功
                // TODO 修改新数据


            }else{              // 修改失败
                console.log("失败");
            }
            myAlert.setMsg(json['msg']);
            myAlert.show();
        });
    }

    var delVideoUrl = "__CONTROLLER__/delVideo";
    function delVideo(a){
        var vid = $(a).attr("vid");
        $.post(delVideoUrl,{"vid":vid},function(res){
            var json = zsy_json_decode(res);
            if(json['rs']==1){   // 删除成功
                $(a).parent().parent().remove();
            }else{              // 删除失败

            }
            myAlert.setMsg(json['msg']);
            myAlert.show();
        });
    }

    function playVideo(a){
        $.post(videoUrl,{"vid":$(a).attr("vid")},function(data){
            var json = zsy_json_decode(data);
            if(json['path'].length>0){
                $("#playVideo #player").attr("href",json['path']);
                $('#playVideo').modal();

                flowplayer("player", "__PUBLIC__/flowplayer/flowplayer-3.2.18.swf", {
                    clip: {
                        url: json['path'],//视频文件地址
                        autoPlay: false,//是否自动播放
                        autoBuffering: true //是否自动缓冲，即当视频文件设置为不自动播放时，播放器仍然预先下载视频文件内容
                    }
                });


            }
        });


        $("#playVideo").modal("show");
    }

</script>

<include file="Common/foot" />